.carousel-item {
    position: relative;
    background-size: cover;
    background-position: center;
}

.carousel-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}

h2, h5 {
    color: white;
}

.navbar {
    padding: 10px 0;
}

.nav-link {
    font-size: 1.2rem;
    padding: 10px 15px;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.534);
    border-radius: 5px;
}

.carousel-inner img {
    height: 600px;
    object-fit: cover;
}

.carousel-caption h2 {
    font-size: 3rem;
    font-weight: bold;
}

.carousel-caption h5 {
    font-size: 1.5rem;
}

.logo img {
    max-width: 100%;
    height: auto;
}

#header {
    transition: background-color 0.3s ease;
    height: 160px; 
    padding: 0 15px; 
    border-radius: 4px; 
}

.scrolled-header {
    background-color: rgba(0, 0, 0, 0.849); 
    border-radius: 4px; 
}

#navbar .container {
    padding: 0;
}